<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Administrador de examenes</title>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.css"/>
    <link rel="stylesheet" href="../public/styles/styles2.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  </head>

  <body ng-app="myApp" ng-controller="controller">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" >Operario <%= nombre %> <%= apellido %> </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout" class="glyphicon glyphicon-off"></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container usuarios" > TABLA DE PACIENTES
      <h2> Pacientes </h2>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>nombre</th>
            <th>apellido</th>
            <th>correo</th>
            <th>cedula</th>
            <th>direccion</th>
            <th>telefono</th>
            <th>foto</th>
            <th>editar</th>
            <th>eliminar</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="paciente in pacientes">;
                <td class="nombre">{{paciente.nombre}}</td>
                <td class="apellido">{{paciente.apellido}}</td>
                <td class="correo">{{paciente.correo}}</td>
                <td class="cedula" >{{paciente.cedula}}</td>
                <td class="direccion">{{paciente.direccion}}</td>
                <td class="telefono" >{{paciente.telefono}}</td>
                <td class="foto">{{paciente.foto}}</td>
                <td class= "editar"><button type="button" class="glyphicon glyphicon-edit" data-toggle="modal" ng-click="editar($index)"></button></td>
                <td class= "eliminar"><button type="button" class="glyphicon glyphicon-remove-circle" ng-click="delete($index)"></button></td>
            </tr>
        </tbody>
      </table>
    </div>


    <div> FORMULARIO DE CREAR PACIENTE
        <form > 
            <div class="modal-body">
                <div class="form-group">
                  <input type="text" class="form-control" name="nombre" ng-model="nuevo_paciente.nombre" placeholder="Nombre">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="apellido" ng-model="nuevo_paciente.apellido" placeholder="Apellido">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="cedula" ng-model="nuevo_paciente.cedula" placeholder="Cedula">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="correo" ng-model="nuevo_paciente.correo" placeholder="Correo">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="direccion" ng-model="nuevo_paciente.direccion" placeholder="Direccion">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="telefono" ng-model="nuevo_paciente.telefono" placeholder="Telefono">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="foto" ng-model="nuevo_paciente.foto" placeholder="Foto">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default">Cancelar</button>
              <button type="submit" class="btn btn-primary" ng-click="agregar()">Crear</button>
            </div>
          </form>
    </div>


    <div> FORMULARIO DE EDITAR PACIENTE
        <form > 
            <div class="modal-body">
                <div class="form-group">
                  <input type="text" class="form-control" name="nombre" ng-model="editar_paciente.nombre" placeholder="Nombre">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="apellido" ng-model="editar_paciente.apellido" placeholder="Apellido">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="cedula" ng-model="editar_paciente.cedula" placeholder="Cedula">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="correo" ng-model="editar_paciente.correo" placeholder="Correo" readonly>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="direccion" ng-model="editar_paciente.direccion" placeholder="Direccion">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="telefono" ng-model="editar_paciente.telefono" placeholder="Telefono">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="foto" ng-model="editar_paciente.foto" placeholder="Foto">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default">Cancelar</button>
              <button type="submit" class="btn btn-primary" ng-disabled="isDisabled" ng-click="put()">Editar</button>
            </div>
          </form>
    </div>


    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
    <script>
            angular.module('myApp', [])
                .controller('controller', function($scope, $http) {
                    
                    $scope.nuevo_paciente = {};

                    $scope.pacientes = {};

                    $scope.editar_paciente = {};

                    $scope.isDisabled = true;

                    $http.get("/pacientes")
                        .then(function (response) {
                            $scope.pacientes = response.data;
                        }
                    );

                    $scope.editar = function ( pid ) {
                        var paciente = $scope.pacientes[pid];
                        $scope.editar_paciente = paciente;
                        $scope.isDisabled = false;
                    };

                    $scope.put = function () {
                        $http.put("/paciente/" + $scope.editar_paciente._id, { 
                            nombre: $scope.editar_paciente.nombre,
                            apellido: $scope.editar_paciente.apellido,
                            correo: $scope.editar_paciente.correo,
                            cedula: $scope.editar_paciente.cedula,
                            direccion: $scope.editar_paciente.direccion,
                            telefono: $scope.editar_paciente.telefono,
                            foto: $scope.editar_paciente.foto 
                        }
                        ).success(function (response) {
                            $scope.editar_paciente = {}; //se resetea la variable editar paciente para que no se siga editando
                            $scope.isDisabled = true; //se desactiva el formulario de editar para evitar caida del servidor
                        }, function (error) {
                        });
                    };

                    //Se crea un paciente
                    $scope.agregar = function() {
                        $http.post("/paciente", {
                            nombre: $scope.nuevo_paciente.nombre,
                            apellido: $scope.nuevo_paciente.apellido,
                            correo: $scope.nuevo_paciente.correo,
                            cedula: $scope.nuevo_paciente.cedula,
                            direccion: $scope.nuevo_paciente.direccion,
                            telefono: $scope.nuevo_paciente.telefono,
                            foto: $scope.nuevo_paciente.foto
                        }).success(function(response){
                          $scope.pacientes.push(response.data);
                                
                        })
                            $scope.nuevo_paciente = {};
                    }

                    $scope.delete = function ( pid ) {
                        var paciente = $scope.pacientes[pid];
                        $http.delete("/paciente/"+ paciente._id)
                            .then(function () {
                                $scope.pacientes.splice(pid, 1);
                            });
                    };

                });
    </script>
  </body>


</body>

</html>